<% content_for :title, @chat.subject %>

<%= turbo_stream_from @chat %>

<div id="<%= dom_id(@chat) %>">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="h6 m-0">
        <%= @chat.subject %>
      </h1>

      <%= link_to "Go back", chats_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>

    <div class="list-group list-group-flush mt-2">
      <%= render @chat.messages.order(created_at: :asc) %>

      <%= render "messages/new_form", message: @chat.messages.build %>
    </div>
  </div>
</div>
